$color-white-primary: #fff;
$color-red-primary: #e31b6d;
$color-blue-primary: #1b242f;
$color-blue-secondary: #04c2c9;
$color-gray-primary: #f8f9fa;
$color-gray-secondary: #e9ecef;
$color-black-primary: #444649;
